.verify {
  @include flex(column nowrap);
  background: var(--white, $white);
  width: 100vw;
  height: 100vh;
  .verify-text {
    padding: 0 1rem;
    text-align: center;
    color: var(--black, $black);
    font-size: 1.2rem;
    font-weight: bold;
  }
  form {
    @include flex(column nowrap);
    gap: 1rem;
    width: 70%;
    height: 30%;
    border-radius: 5px;
    padding: 0 0.7rem;
    .verify-input {
      font-size: 1.1rem;
      padding: 0.8rem;
      border-radius: 30px;
      border: 2px solid $red;
      width: 100%;
      &:focus,
      &:active,
      &:hover {
        border: 2px solid $green;
      }
    }
    .verify-btn {
      color: var(--white, $white);
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 30px;
      background: $blueViolet;
      border: none;
      cursor: pointer;
      transition: transform 1s;
      width: 100%;
    }
    .verify-btn:disabled {
      background: $blueViolet;
      opacity: 0.5;
      cursor: not-allowed;
    }
    .verify-btn:hover {
      transform: scale(1.03);
    }
    .verify-btn:active {
      transform: scale(0.9);
    }
  }
}
