$transparentBlack: rgba(0, 0, 0, 0.479);
$darkBlue: rgba(0, 0, 255, 0.427);
$green: rgb(12, 213, 12);
$black: black;
$boxShadow: rgba(0, 0, 0, 0.6);
$blue: blue;
$white: white;
$red: red;
$blueViolet: blueviolet;
$grey: rgb(109, 104, 104);
$button:  rgba(137, 130, 130, 0.529);
$boxShadow: rgba(0, 0, 0, 0.6);
$yellow: rgba(255, 196, 18, 0.867);
$lightWhite: rgba(255, 255, 255, 0.792);

